body {
    background-color: hsl(208.09deg 95.92% 9.61%);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: hsl(208.09deg 95.92% 9.61%);
}

.cabecalho .logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.cabecalho .titulo {
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
}

.cabecalho .menu button {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: hsl(208.09deg 95.92% 9.61%);
    color: white;
    transition: right 0.3s ease;
    padding-top: 50px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu li {
    text-align: center;
    margin: 20px 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.side-menu a:hover {
    background-color: #333;
}

.close-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #0069d9;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 18rem;
    margin: 15px;
    background-color: hsl(208.09deg 95.92% 9.61%);
    border-radius: 8px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.card-text {
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 768px) {
    .search-container input {
        width: 70%;
    }

    .search-container button {
        width: 25%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}

.cabecalho .titulo a {
    text-decoration: none;
    color: white;
}

.cabecalho .logo a {
    text-decoration: none;
}